.navbar {
    background-color: rgb(237,225,209);
    border-top-color: black;
    color: orange;
    
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#fff;
    background-image: linear-gradient(90deg, rgba(237,225,209,.5) 50%, transparent 50%), linear-gradient(rgba(219,195,163,.5) 50%, transparent 50%);
    background-size:20px 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #f1f1f1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
     
}

input,
button {
    background-color:transparent;
    border:solid;
    padding-bottom: 5px;
}

.jumbotron {
    background-color: #bdbdbd;
}

#itemName {
    font-size: 22px;
    color: #848484;
}

#pictureEdit {
       position:relative;
       top:20px;
       right:602px;
}
